name: Terraform Development Workflow

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches-ignore:
      - main

permissions:
  id-token: write
  contents: read
jobs:
  Terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.11.0

      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ARN_TO_ASSUME }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init
        run: |
          terraform init \
            -input=false \
            -backend-config="bucket=${{ secrets.AWS_STATEFILE_S3_BUCKET }}" \
            -backend-config="key=dev/terraform.tfstate" \

      - name: Terraform Validate
        run: |
          terraform validate

      - name: Terraform Plan
        run: |
          terraform plan \
            -input=false \
            -var-file="dev.tfvars"

      - name: Terraform tfsec security scan
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          soft_fail: true
          working_directory: .
          additional_args: --concise-output --exclude-downloaded-modules

      - name: Terraform Apply
        if: github.ref == 'refs/heads/dev' && github.event_name == 'push'
        run: |
          terraform apply \
            -input=false \
            -auto-approve \
            -var-file="dev.tfvars"
